.champDetailsCard {
    max-width: 60vw;
    margin-bottom: 4vh;
}

.championStatsRadar {
    height: 45vh;
}

.oneChampName {
    text-align: center;
}

.oneChampName span {
    font-family: 'Volkhov', serif;
    font-size: xx-large
}

.modalChampName {
    font-family: 'Volkhov', serif;
}