.loginBox {
    background-color: white;
    margin: 3vh 15vh;
    height: 84vh;
}

#loginPicture {
    background: url("https://res.cloudinary.com/dalk1vcw9/image/upload/v1664709682/champion-galio-aprilfools-splash_oj6zbz.jpg") no-repeat center center;
    background-size: cover;
    /* background: url("https://res.cloudinary.com/dalk1vcw9/image/upload/v1663283317/BardImg_ccxozm.jpg") no-repeat center center; */
}

/* .myLoginVideo {
    position: absolute;
    width: fit-content;
    height: 84vh;
    object-fit: contain;
} */

.loginLinkToSignup {
    text-decoration: none;
    color: #262626;
    font-size: small;
}

.errorBoxAlign {
    display: flex;
    justify-content: center;
}

.errorBox {
    width: 30vh;
    text-align: center;
    background-color: red;
    color: white;
    margin-left: 10%;
    margin-top: 10px;
    border-radius: 10px;
}

.region {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40%;
}

.loginHeader {
    padding-top: 4vh;
    padding-left: 5vh;
    display: flex;
    flex-direction: row;
}

.login-body {
    padding: 0px 20px;
    width: 90%;
    margin: 0 auto;
}

.login-body p {
    font-size: 30px;
    font-weight: 600;
    margin-top: 8vh;
    margin-left: 10%;
}

.login-body a {
    display: block;
    margin: 2vh;
    cursor: pointer;
    margin-left: 10%;
}

.login-body form {
    margin-top: 30px;
    margin-left: 10%;
}

.login-body form>input {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    outline: none;
    border: 0;
    font-weight: 600;
    background: #dddddd;
    border-radius: 4px;
    border: 2px solid transparent;
    transition: all 0.5s;
}

.login-body form>input:focus {
    border: 2px solid #111111;
    background: #111111;
    color: white;
}

.arrowButton {
    display: flex;
    justify-content: center;
}

.arrowButton Button {
    background-color: #262626;
}