.OneChampButton {
    text-decoration: none;
}

.OneChampButtonText {
    color: white;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.oneChampPage {
    background-color: #000a12;
}