@import 'https://fonts.googleapis.com/css?family=Reem+Kufi';

.profileElements {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cardProfileAlign {
    margin-top: 5vh;
}

.cardProfileInformation {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: white;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0);
}

.profileVideo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: 10;
}

.cardVideoAlign {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.cardVideo {
    width: 300px;
    border-radius: 100%;
    border: 4px solid white;
    object-fit: contain;
}

.cardBanner {
    margin-bottom: 1%;
}

.favChamp {
    z-index: 100;
    margin-top: 8vh;
}

.scrollDiv {
    height: 450px;
    overflow: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0)
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c79b3b;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #9c7522;
}

.favChampCard {
    margin: 10px;
}

.favChampImg {
    width: 170px;
}

.favChampName {
    text-align: center;
    margin-top: 50px;
    font-family: 'Reem Kufi', sans-serif;
    font-size: large;
    text-shadow: 3px 3px black;
    color: white;
}