.homePage {
    height: 100vh;
    overflow: hidden;
}

.myVideo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 50;
}

.logoHoriz {
    margin-top: 5vh;
}

.content {
    display: flex;
    justify-content: center;
    margin-top: 13%;
}

.content img {
    width: 70%;
    z-index: 70;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 60;
}

.loginLink {
    color: white;
    font-size: x-large;
}

.homeBtnAlign {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14%;
    text-decoration: none;
}

.button {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-two {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    z-index: 100;
}

.btn-two span {
    z-index: 100;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all 0.5s;
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    transition: all 0.5s;
    border: 3px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 0.2);
}