.forumAlign {
    display: flex;
    justify-content: center;
}

.forumPostContainer {
    margin-top: 20px;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.forumPostLink {
    border: 2px solid white;
    text-decoration: none;
    margin: 10px;
    color: white;
    transition: transform .5s ease;
}

.forumPostLink:hover {
    border: 2px solid #c79b3b;
    color: #c79b3b;
    transform: scale(1.04);
}

.linkContent {
    display: flex;
    flex-direction: row;
}

.forumPostTitle {
    font-size: x-large;
    padding: 10px;
    margin-left: 8%;
    text-align: center;
    align-self: center;
}

.forumPostImage {
    padding: 10px;
    width: 200px;
}

.forumEyeIcon {
    align-self: center;
}