.ChampionListName {
    text-decoration: none;
    color: white;
}

.ChampName {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.championsWeekCard {
    background-color: #000a12;
    ;
}