.championListName {
    font-size: 3em;
    font-family: 'Volkhov', serif;
    text-decoration: none;
    color: white;
    margin-top: 25%;
    transition: transform .5s ease;
}

.championListName:hover {
    color: #c79b3b;
    transform: scale(1.4);
}

.championsListBg {
    background-color: #000a12;
    background-position: center;
    background-size: cover;
    height: 40vh;
    transition: transform .5s ease;
}

.championsListBg:hover {
    transform: scale(0.9);
}

.championListLink {
    text-decoration: none;
    text-align: center;
}

.championListLink:hover {
    text-shadow: 3px 3px #000a12;
}