.randomCard {
    background-color: rgba(0, 0, 0, 0);
    padding-bottom: 10px;
}

.randomPickBg {
    background-color: #000a12;
    background-position: center;
    background-size: cover;
    height: 50vh;
    border: 4px solid white;
    transition: transform .5s ease;
}

.randomPickBg:hover {
    transform: scale(0.9);
}

.linkStyle {
    text-decoration: none;
}

.randomChampName {
    color: white;
    text-shadow: 5px 4px #000a12;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.RandomItemImg {
    border: 4px solid white;
    transition: transform .5s ease;
}

.RandomItemImg:hover {
    transform: scale(1.3);
}