.randomChampName {
    font-family: 'Volkhov', serif;
    position: absolute;
    color: #c79b3b;
    text-shadow: 3px 3px white;
    font-size: 3.5em;
    align-self: flex-end;
}

.randomCard {
    background-color: #000a12;
}

.randomBox {
    display: flex;
    justify-content: center;
}

.randomButtonAlign {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.randomButton {
    font-family: 'Lora', serif;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 0px 40px;
    background-color: #c79b3b;
    color: white;
    padding: 15px;
    border-radius: 50%;
}


.RandomChampImg {
    width: 85%;
    border-radius: 25%;
    border: 10px solid #c79b3b;
}