.ChampionListCard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

.ChampionListLink {
    text-decoration: none;
    color: #212529;
}

.ChampionListLink:hover {
    color: #c79b3b;
}